/* =========================================
   PAGE
========================================= */

.main-wrapper{
    background: var(--bg-light);
    min-height: 100vh;
    padding: 30px 40px;
}

/* =========================================
   BUTTON BACK
========================================= */

.btn-back{
    display: inline-flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 18px;

    padding: 12px 24px;

    background: #EAF4FA;
    color: var(--dark-blue);

    border-radius: 999px;
    text-decoration: none;

    font-size: 15px;
    font-weight: 600;

    transition: .3s;
}

.btn-back:hover{
    background: var(--dark-blue);
    color: white;
}

/* =========================================
   HEADER CARD
========================================= */

.nutrition-header-card{
    background: #FFFFFF;

    border-radius: 30px;

    padding: 35px 45px;

    margin-bottom: 25px;

    box-shadow: 0 4px 12px rgba(0,0,0,.05);
}

.nutrition-header-card h1{
    margin: 0 0 10px;

    font-size: 42px;
    font-weight: 800;

    color: #000;
    line-height: 1.1;
}

.nutrition-header-card p{
    margin: 0;

    font-size: 17px;
    color: #64748B;
}

/* =========================================
   CONTENT CONTAINER
========================================= */

.content-container{
    background: var(--container-blue-bg);

    border-radius: 30px;

    padding: 35px;
}