.skrining-header-top {
    margin-bottom: 20px;
}

.skrining-header-top > div{
    display:flex !important;
    align-items:center !important;
    gap:15px !important;
}

.skrining-header-top h2 {
    font-size: 36px !important;
    font-weight: 800 !important;
    margin-bottom: 0 !important;
    color: #0F172A !important;
    line-height: 1.1 !important;
}

.skrining-header-top p {
    font-size: 16px !important;
    color: #64748B !important;
    margin-top: 4px !important;
}

.step-info {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: #475569 !important;
    margin-bottom: 5px;
}

.nav-arrow {
    color: #1E3A5F !important;
    font-weight: bold;
    font-size: 18px;
}